<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <title>Lab-3</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
          <h1>Update your address</h1>      
        </div>   

        <form action="/lab0" method="POST">
            <textarea name="address" id="" cols="80" rows="10" class="form-control" style="resize: none;"></textarea><br>
            <input type="submit" class="btn btn-primary">
        </form><br>
        <% if(address) { %>
        <div class="alert alert-success">
            <strong>Success!</strong> Your address is successfully updated to : <%- address %>
        </div>
        <% } else {} %>

    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>