<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab-3</title>
</head>
<body>
    <h3>Template editor</h3><hr>
    <textarea name="data" id="" cols="90" rows="15"></textarea><br>
    <input type="submit" name="submit" id="submit"><br><br>
    <div id="output"></div>
    <script src="/baseeditor.js"></script>
</body>
</html>