<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <title>Lab-3</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
          <h1>Home Made Filters</h1>      
        </div><br>
        <% if(data) { %>
            
            <form action="" method="">

                <div class="form-group">
                    <label for="text"><b>Nominee name:</b></label>
                    <input type="text" name="names" class="form-control" id="<%- data %>">
                </div>
                <input type="submit" class="btn btn-primary">
            </form>

        <% } else {} %>

    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>