<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <title>Lab-5</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
          <h1>Hi <%= name %> </h1>
        </div><br>
        <h3>Your saving account balance is: 400/-</h3>
        <form action="/logout?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-primary">Log Out</button>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>